# Metin dosyaları GitHub'da LF tutulsun.
* text=auto eol=lf

*.c text eol=lf
*.h text eol=lf
*.txt text eol=lf
*.md text eol=lf
*.cmake text eol=lf
CMakeLists.txt text eol=lf
.gitignore text eol=lf
.gitattributes text eol=lf

# İkili dosyalar asla satır sonu çevirmesin.
*.png binary
*.jpg binary
*.exe binary
*.obj binary
*.o binary
*.lib binary
*.dll binary